* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

/* Modal*/
.modal {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  border: 1px solid grey;
  background: #fff;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

.modal-close-button {
  margin-left: 350px;
  height: 40px;
  width: 40px;
  color: red;
  font-size: 30px;
  border: none;
}